@use "global" as *;

.about-us__inner {
  padding-top: rem(80);
  padding-bottom: rem(70);
  
  @include mq(md) {
  position: relative;
  padding-top: rem(140);
  padding-bottom: rem(140);
  }
}

.about-us__container {
  margin-top: rem(24);

  @include mq(md) {
  margin-top: rem(40);
  }
}

.text-box__container__space {

  margin-top: rem(40);

  @include mq(md) {
  position: absolute;
  top: 24%;
left: 18%;
  }
  
}

.text-box__space {
margin-top: rem(16);

@include mq(md) {
margin-top: 0;
}
}

.button__space--about-us {
  margin-top: rem(50);

  @include mq(md) {
  margin-top: rem(40);
  }
}

