@use "global" as *;

.campaign__inner {
    padding-top: rem(120);

    @include mq(md) {
    padding-top: rem(80);
    }
}

.campaign__content {
    padding-left: rem(15);

    @include mq(md) {
    padding-left: rem(180);
    }
}

.swiper__space {
    margin-top: rem(40);
}

.button__space--campaign {
margin-top: rem(40);
margin-left: auto;
margin-right: auto;

@include mq(md) {
margin-top: rem(80);
}
}