@use "global" as *;

.information__inner {
padding: rem(80) 0;
background: $background_green;

@include mq(md) {
padding: rem(100) 0;
}
}

.illustrated-book__container {
    margin-top: rem(24);
    @include mq(md) {
    margin-top: rem(40);
    } 
}

.illustrated-book__content {
   margin-top: rem(24);
   @include mq(md) {
   margin-top: rem(41);
   }
}