@use "global" as *;

.blog-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    row-gap: rem(40);
    
    @include mq(md) {

    flex-direction: row;
    column-gap: rem(40);   
}
}