@use "global" as *;

.pc-nav {
display: none;

@include mq(md) {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
}
}

.pc-nav__items {
    display: flex;
    
}

.pc-nav__item {
    color: $white;
    text-align: center;
    display: block;
    padding-left: rem(20);
    padding-right: rem(20);
    padding: rem(20) rem(20);
    cursor: pointer;
    
}


.pc-nav__item {
 
}

.pc-nav__item a {
    font-size: rem(18);
}

.pc-nav__item p {
    font-size: rem(10);
    margin-top: rem(4);
}
