@use "global" as *;

.main-view {
  height: rem(672);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/only_sp/main_sp.jpg);

  @include mq(md) {
    background-image: url(../images/only_pc/main_pc.jpg);
  }
}

.main-view__wrapper {
}

.main-view__title {
  color: $white;
  text-align: center;
  font-weight: $regular;
  font-size: rem(40);
  letter-spacing: rem(21.6);

  @include mq(md) {
    font-size: rem(80);
    letter-spacing: rem(43.2);
  }
}

.main-view__subtitle {
  color: $white;
  font-size: rem(20);
  text-align: center;
}
