@use "global" as *;

.main-view {
  position: relative;
}

.swiper__main-view {

height: 100vh;
min-height: 100vh;

}

.swiper__main-view img {
  object-fit: cover;
  height: 100vh;
}

.main-view__content {
    position: absolute;
    top: 50.2%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.main-view__title {
  color: $white;
  text-align: center;
  font-weight: $regular;
  font-size: rem(40);
  letter-spacing: rem(21.6);
  line-height: 1.2;
  text-indent: rem(20);

  @include mq(md) {
    font-size: rem(80);
    letter-spacing: rem(43.2);
  }
}

.main-view__subtitle {
  color: $white;
  font-size: rem(20);
  text-align: center;
}
